

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.searchContainer {
  background-color: rgb(255, 220, 245);
  padding: 0rem;
  border-radius: 6px;
  display: flex;
  align-items: center;

  input {
    height: 3rem;
    padding: 1rem;
    outline: none;
    border-top: 1px solid rgb(205, 205, 205);
    border-bottom: 1px solid rgb(205, 205, 205);
    border-left: 1px solid rgb(205, 205, 205);
    border-right: none;

    color: rgb(174, 174, 174);
  }

  button {
    height: 3rem;
    padding: 1rem;
    background-color: #fff;
    outline: none;
    border: 1px solid rgb(205, 205, 205);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cardsContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  h2 {
    padding-left: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0px rgb(218 217 217);
    margin-bottom: 1rem;

    .iframeContainer {
      position: relative;
      padding-bottom: 56.10%;
      height: 0;
      width: 100%;
      overflow: hidden;

      iframe {
        border: none;
      }
    }

    .iframeContainer iframe,
    .iframeContainer object,
    .iframeContainer embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.loadButton {
  background-color: #fff;
  border: none;
  padding: 1rem;
  box-shadow: 0px 1px 5px 0px rgb(218 217 217);
  cursor: pointer;
  color: rgb(90, 90, 90);
  &:hover {
    box-shadow: 0px 1px 10px 0px rgb(218 217 217);
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
